{
  "presets": [
    "react", 
    "stage-1", 
    "es2015"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "babel-plugin-styled-components",
    "transform-class-properties",
    "transform-es2015-computed-properties"
  ]
}
